:root {
    --color-primary: #0a25bd;
    --color-secundary: #2FC8EA;
    --color-tertiary: #AAFF6D;
    --color-quaternary: #BCFF2A;
    --color-quinary: #349e17;
    --color-six: #f4e0bd;

    --font-title: "Roboto", sans-serif; 
    --font-text: "Arimo", sans-serif;


    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[hidden]{
    display: none !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-text);
    background-color: var(--color-six);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}



.brand-name strong {
    color: var(--color-quinary);
}


.main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-right: 15px;
}

.main-nav a {
    text-decoration: none;
    color: rgb(33, 146, 10);
    padding: 10px 15px;
    display: block;
    background: #f5f4c7;
}
.main-nav a:hover {
    background: #efeeb4;
}


@media (min-width: 768px) {
    
}

@media (min-width: 1200px){

}